@import "tailwindcss";

@theme {
	/* Fonts */
	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Playfair Display', serif;

	/* Custom Colors */
	--color-brand-green: #00ff66;
	--color-brand-green-hover: #00e05a;
	--color-brand-dark: #022c22;
	--color-brand-darker: #01140f;
	--color-brand-blue: #1e1b4b;
	--color-brand-cream: #FDFBF7;
	--color-brand-pink: #FCE7F3;
	--color-brand-light-green: #DCFCE7;
	--color-brand-yellow: #faffb7;
	--color-brand-purple: #F3E8FF;
}

@layer utilities {
	.font-serif {
		font-family: var(--font-serif);
	}
    .font-serif-display {
        font-family: var(--font-serif);
        letter-spacing: -0.02em;
    }
	.font-sans {
		font-family: var(--font-sans);
	}
}
